<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        
        <p th:text="${@environment.getProperty('env.string')}"></p>
        <p th:text="${@environment.getProperty('domain.string')}"></p>
        <p th:text="${@environment.getProperty('app.name')}"></p>
        <p th:text="${@environment.getProperty('app.env')}"></p>
    </body>
</html>